* {
  box-sizing: border-box;
  
}

.hidden1 {
  display: none;
}

body {
  margin: 5px;
  display: flex;
  flex-wrap: wrap;
  color: #E7EAF1;
  background-color: black;
  width: 100vw;
  height: 100vh;
}

#fields {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: black;
  padding: 10px;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat',sans-serif;
  width: 100vw;
  height: 80vh;
}

p {
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 25px;
  margin-bottom: 10px;
  font-size: 12px;
}

input {
  color: #E7EAF1;
  background-color: rgba(255, 254, 254, 0.046);
  padding: 5px;
  text-transform: uppercase;
  border-radius: 50px;
  text-align: center;
  margin: 5px;
}

.inputs, .starting, .monthlySpending, .emergencyField {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 50vw;
}

.reset {
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

button {
  background-color: black;
  color: white;
  font-size: 14px;
  padding: 5px;
  text-transform: uppercase;
  border: 1px solid #e7eaf1c0;
  cursor: pointer;
  border-radius: 50px;
  width: 50vw;
}


:root {
  --headerFontSize: 16px;
  --headerFontColor: #E7EAF1;
  --headerFontWeight: 0;
  --headerFontBGColor: hsl(0 0% 0% / 0.5);
  --headerTextAlign: left;
  --bodyTextAlign: left;
  --headerBorderColor: #E7EAF1;
  --headerBCVar: 0px;
  --bodyFontSize: 14px;
  --evenRowsColor: #E7EAF1;
  --oddRowsColor: #E7EAF1;
  --evenRowsBGColor: #0000001a;
  --oddRowsBGColor: #323232;
  --cellPaddingHVar: 15px;
  --cellPaddingVVar: 15px;
  --rowsBorderColor: hsl(0 0% 100%);
  --rowsBorderWidth: 2px;
  --text-color: #E7EAF1;
}

table {
  width: 100vw;
  border-collapse: collapse;
  background: #323232;
  text-transform: uppercase;
  border-radius: 50px;
  margin-bottom: 10px;
}

td {
  font-size: var(--bodyFontSize);
}

tbody tr {
  border-bottom: 1px solid #dddddd;
  min-height: 100px;
  text-align: var(--bodyTextAlign);
  border: none;
  
}

th,
td
{
  padding: 20px;
}



tbody tr:nth-child(even) {
  color: var(--evenRowsColor);
  background-color: var(--evenRowsBGColor);
}

tbody tr:nth-child(odd) {
  color: var(--oddRowsColor);
  background-color: var(--oddRowsBGColor);
}

thead {
  text-align: var(--headerTextAlign);
  text-transform: uppercase;
  font-size: var(--headerFontSize);
  font-weight: var(--headerFontWeight);
  letter-spacing: 0.002em;
  color: var(--headerFontColor) !important;
  background-color: var(--headerFontBGColor);
  border: var(--headerBCVar) solid var(--headerBorderColor);
  font-family: system-ui;
}


